doctype html
html
  head
    title Group Chat: #{group.name}
    link(rel="stylesheet" href="/css/styles.css")
    script(src='https://unpkg.com/emoji-picker-element@latest' type='module')
    style.
      #chat-messages li {
        color: #000; /* Sets the text color to black */
      }
      #typing-indicator {
        color: #333; /* Darker shade of grey for the typing indicator */
      }

  body
    .container
      header
        h1 Group Chat: #{group.name}

      section.chat-area
        ul#chat-messages
          each msg in messages
            li #{msg.sender}: #{msg.message}
        p#typing-indicator(style="color: grey;")

      .emoji-picker-container
        button#emoji-button Emoji
        emoji-picker#emoji-picker(style='position: absolute; bottom: 100px; right: 30px; display: none;')

      section.message-input
        form#chat-form(action="#" method="post")
          input(type="text" id="message-input" placeholder="Type a message")
          button(type="submit") Send

      footer.navigation
        button.button(onclick="location.href='/chat'") Back to Chat Page

    .bubble(style="width:100px; height:100px; left:10%; animation-duration:4s;")
    .bubble(style="width:60px; height:60px; left:20%; animation-duration:5s;")
    .bubble(style="width:120px; height:120px; left:70%; animation-duration:6s;")

    script(src="/socket.io/socket.io.js")
    script.
      document.addEventListener('DOMContentLoaded', function () {
        var socket = io();
        var groupId = '#{group._id}';
        var userId = '#{userId}';

        socket.on('connect', () => {
          socket.emit('registerGroup', groupId, userId);
        });

        var chatForm = document.getElementById('chat-form');
        var messageInput = document.getElementById('message-input');
        var typingIndicator = document.getElementById('typing-indicator');

        chatForm.addEventListener('submit', function(e) {
          e.preventDefault();
          var messageText = messageInput.value.trim();
          if (messageText) {
            socket.emit('groupChatMessage', { groupId, senderUserId: userId, text: messageText });
            messageInput.value = '';
            doneTyping();
          }
        });

        socket.on('groupChatMessage', function(message) {
            if (message.group === groupId && message.senderUserId !== userId) { // Check if message is not from the current user
                displayMessage(message.sender, message.message);
            }
        });

        function displayMessage(sender, message) {
            var chatMessages = document.getElementById('chat-messages');
            var messageItem = document.createElement('li');
            messageItem.textContent = sender + ": " + message;
            chatMessages.appendChild(messageItem);
            chatMessages.scrollTop = chatMessages.scrollHeight; // Auto-scroll to the latest message
        }


        document.querySelector('#emoji-button').addEventListener('click', function() {
          var emojiPicker = document.getElementById('emoji-picker');
          if (emojiPicker.style.display === 'none') {
            emojiPicker.style.display = 'block';
          } else {
            emojiPicker.style.display = 'none';
          }
        });

        document.querySelector('#emoji-picker').addEventListener('emoji-click', event => {
          const emoji = event.detail.emoji.unicode;
          messageInput.value += emoji;
        });
      });
